[Desktop Entry]
Icon=kmplot
Name=KmPlotPart
Name[bn]=কে-এমপ্লট-পার্ট
Name[cs]=KmPlot part
Name[et]=KmPloti komponent
Name[hi]=केएम-प्लाट-पार्ट
Name[pl]=Część osadzalna KPart programu KmPlot
Name[sv]=Kmplot-delprogram
Name[ta]=கேஎம்பிளாட்பகுதி
Name[vi]=Phần Đồ thị K
MimeType=application/x-kmplot
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libkmplotpart
Type=Service
