<!DOCTYPE kpartgui>
<kpartgui name="kmplot" version="5">
	<MenuBar>
		<Menu name="file">
			<Action name="export"/>
		</Menu>
		<Menu name="functions"><text>&amp;Plot</text>
			<Action name="newfunction"/>
			<Action name="newparametric"/>
			<Action name="newpolar"/>
			<Action name="editplots"/>
		</Menu>
		<Menu name="edit">
			<Action name="editcolors"/>
			<Action name="editaxes"/>
			<Action name="editscaling"/>
			<Action name="editfonts"/>
		<Separator />
			<Action name="coord_i"/>
			<Action name="coord_ii"/>
			<Action name="coord_iii"/>
		</Menu>
		<Menu name="tools" noMerge="1"><text>&amp;Tools</text>
			<Action name="yvalue"/>
			<Action name="minimumvalue"/>
			<Action name="maximumvalue"/>
			<Action name="grapharea"/>
		</Menu>
        	<Menu name="settings" noMerge="1"><text>&amp;Settings</text>
			<Merge name="StandardToolBarMenuHandler" />
			<Action name="options_show_statusbar"/>
			<Separator />
			<Action name="fullscreen"/>
			<Separator/>
			<Action name="options_configure_keybinding"/>
			<Action name="options_configure_toolbars"/>
			<Action name="options_configure"/>
		</Menu>
		<Menu name="help">
			<Action name="names"/>
		</Menu>
	</MenuBar>
	
	<ToolBar name="mainToolBar">
		<Separator />
		<Action name="quickedit"/>
		<Action name="newfunction"/>
		<Action name="coord_i"/>
		<Action name="coord_ii"/>
		<Action name="coord_iii"/>
		<Action name="helpcontents"/>
	</ToolBar>

</kpartgui>
