# KDE Config File
[Desktop Entry]
Type=Application
Exec=kmplot
Icon=kmplot.png
MiniIcon=kmplot.png
DocPath=kmplot/index.html
Comment=Function Plotter
Comment[xx]=xx
Terminal=0
Name=KmPlot
