[Desktop Entry]
Encoding=UTF-8
Icon=kmplot
Name=KmPlotPart
Name[cs]=KmPlot part
Name[et]=KmPloti komponent
Name[hi]=केएम-प्लाट-पार्ट
Name[pl]=Część osadzalna KPart programu KmPlot
Name[pt_BR]=Componente do KmPlot
Name[sv]=Kmplot-delprogram
Name[ta]=கேஎம்பிளாட்பகுதி
Name[xx]=xxKmPlotPartxx
MimeType=application/x-kmplot
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libkmplotpart
Type=Service
