<!DOCTYPE kpartgui>
<kpartgui name="kmplot" version="15">
	<MenuBar>
 		<Menu name="file">
			<Action name="file_openrecent"/>
			<Separator/>
			<Action name="file_save"/>
			<Action name="file_save_as"/>
			<Action name="file_print"/>
			<Separator/>
			<Action name="export"/>
		</Menu>
		<Menu name="edit"><text>&amp;Edit</text>
			<Action name="edit_undo"/>
			<Action name="edit_redo"/>
			<Separator/>
			<Action name="editaxes"/>
			<Action name="editconstants"/>
		</Menu>
		<Menu name="view"><text>&amp;View</text>
			<Action name="zoom_in"/>
			<Action name="zoom_out"/>
			<Action name="zoom_trig"/>
			<Separator/>
			<Action name="reset_view"/>
			<Separator/>
			<Action name="options_configure_show_sliders"/>
		</Menu>
		<Menu name="tools"><text>&amp;Tools</text>
			<Action name="calculator"/>
			<Action name="grapharea"/>
			<Action name="maximumvalue"/>
			<Action name="minimumvalue"/>
		</Menu>
        	<Menu name="settings"><text>&amp;Settings</text>
			<Separator />
			<Action name="options_configure_keybinding"/>
			<Action name="options_configure_toolbars"/>
			<Action name="options_configure"/>
		</Menu>
		<Menu name="help"><text>&amp;Help</text>
			<Action name="names"/>
		</Menu>
	</MenuBar>
	<ToolBar name="mainToolBar">
		<Action name="file_save"/>
		<Separator />
		<Action name="zoom_in"/>
		<Action name="zoom_out"/>
		<Action name="reset_view"/>
		<Separator />
		<Action name="helpcontents"/>
	</ToolBar>

</kpartgui>
