# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kmplot
Icon=kmplot
DocPath=kmplot/index.html
Comment=Function Plotter
Terminal=false
Name=KmPlot
GenericName[af]=Funksieplotter
GenericName[ar]=راسم الدّالّة
GenericName[bg]=Чертане на функции
GenericName[bs]=Crtač funkcija
GenericName[ca]=Traçador de funcions
GenericName[cy]=Plotydd Ffwythiannau
GenericName[da]=Funktionsplotter
GenericName[de]=Funktionsplotter
GenericName[el]=Γραφική αναπαράσταση συναρτήσεων
GenericName[es]=Trazador de funciones
GenericName[et]=Funktsioonide graafiku joonistaja
GenericName[fi]=Kuvaajapiirturi
GenericName[fr]=Traceur de courbes
GenericName[gl]=Representación gráfica de funcións
GenericName[hi]=फंक्शन प्लॉट करने वाला
GenericName[hr]=Crtač funkcija
GenericName[hu]=Függvényábrázoló
GenericName[is]=Teiknar gröf falla
GenericName[it]=Disegno di funzioni
GenericName[ja]=関数プロッター
GenericName[lt]=funkcijinis braižytuvas
GenericName[nb]=Funksjonsplotter
GenericName[nl]=functieplotter
GenericName[nn]=Funksjonsteiknar
GenericName[pl]=Wykresy funkcji
GenericName[pt]=Desenhador de Funções
GenericName[pt_BR]=função plotter
GenericName[ru]=Графопостроитель функций
GenericName[sk]=Kreslenie funkcií
GenericName[sl]=Risanje funkcij
GenericName[sr]=Цртач функција
GenericName[sr@Latn]=Crtač funkcija
GenericName[sv]=Funktionsritare
GenericName[ta]=இயக்க வரைவி
GenericName[tg]=Плоттери Функсионалӣ
GenericName[ven]=Mupulothi wa mushumo
GenericName[xx]=xxFunction Plotterxx
GenericName[zh_CN]=函数绘图程序
GenericName[zu]=Umcabangi Womcimbi
Categories=Qt;KDE;Education;Math;
MimeType=application/x-kmplot
