[Desktop Entry]
Encoding=UTF-8
Comment=KmPlot File
Comment[bg]=Файл KmPlot
Comment[ca]=Fitxer de KmPlot
Comment[da]=KmPlot-fil
Comment[de]=KmPlot-Datei
Comment[es]=Archivo de KmPlot
Comment[et]=KmPloti fail
Comment[fr]=Fichier KmPlot
Comment[gl]=Ficheiro de KmPlot
Comment[hu]=KmPlot-fájl
Comment[is]=KmPlot-skrá
Comment[it]=File di KmPlot
Comment[nl]=KmPlot-bestand
Comment[nn]=KmPlot-fil
Comment[pl]=Plik KmPlot
Comment[pt]=Ficheiro do KmPlot
Comment[pt_BR]=Arquivo do KMPlot
Comment[ru]=Файл KmPlot
Comment[sl]=Datoteka KmPlot
Comment[sr]=Фајл KmPlot-а
Comment[sr@Latn]=Фајл KmPlot-а
Comment[sv]=Kmplot-fil
Comment[ta]= கேஎம்பிளாட் கோப்பு
Comment[tg]=Файли KmPlot
Comment[tr]=KmPlot Dosyası
Comment[xx]=xxKmPlot Filexx
Comment[zh_CN]=KmPlot 文件
Icon=kmplot
Type=MimeType
MimeType=application/x-kmplot
Patterns=*.fkt

[Property::X-KDE-text]
Type=bool
Value=true
