[Desktop Entry]
Comment=KmPlot File
Comment[af]=KmPlot lêer
Comment[be]=Файл KmPlot
Comment[bg]=Файл KmPlot
Comment[bn]=কে-এমপ্লট ফাইল
Comment[br]=Restr KmPlot
Comment[bs]=KmPlot datoteka
Comment[ca]=Fitxer de KmPlot
Comment[cs]=KMPlot soubor
Comment[csb]=Lopk KmPlot
Comment[cy]=Ffeil KmPlot
Comment[da]=KmPlot-fil
Comment[de]=KmPlot-Datei
Comment[el]=Αρχείο του KmPlot
Comment[eo]=KmPlota dosiero
Comment[es]=Archivo de KmPlot
Comment[et]=KmPloti fail
Comment[eu]=KmPlot fitxategia
Comment[fi]=KGeo-kaavio
Comment[fr]=Fichier KmPlot
Comment[ga]=Comhad KmPlot
Comment[gl]=Ficheiro de KmPlot
Comment[he]=KmPlot קובץ
Comment[hi]=केएम-प्लॉट फ़ाइल
Comment[hr]=KmPlot datoteka
Comment[hu]=KmPlot-fájl
Comment[is]=KmPlot-skrá
Comment[it]=File di KmPlot
Comment[ja]=KmPlot ファイル
Comment[ka]=KmPlot ფაილი
Comment[km]=ឯកសារ KmPlot
Comment[lt]=KmPlot byla
Comment[ms]=Fail KmPlot
Comment[nb]=KmPlot-fil
Comment[nds]=KmPlot-Datei
Comment[ne]=KmPlot फाइल
Comment[nl]=KmPlot-bestand
Comment[nn]=KmPlot-fil
Comment[pl]=Plik KmPlot
Comment[pt]=Ficheiro do KmPlot
Comment[pt_BR]=Arquivo do KMPlot
Comment[ru]=Файл KmPlot
Comment[sk]=Súbor KmPlot
Comment[sl]=Datoteka KmPlot
Comment[sr]=Фајл KmPlot-а
Comment[sr@Latn]=Fajl KmPlot-a
Comment[sv]=Kmplot-fil
Comment[ta]= கேஎம்பிளாட் கோப்பு
Comment[tg]=Файли KmPlot
Comment[tr]=KmPlot Dosyası
Comment[uk]=Файл KmPlot
Comment[vi]=Tập tin Đồ thị K
Comment[zh_CN]=KmPlot 文件
Comment[zh_TW]=KmPlot 檔案
Icon=kmplot
Type=MimeType
MimeType=application/x-kmplot
Patterns=*.fkt

[Property::X-KDE-text]
Type=bool
Value=true
