[Desktop Entry]
Encoding=UTF-8
Comment=KmPlot File
Comment[x-test]=xxKmPlot Filexx
Icon=kmplot
Type=MimeType
MimeType=application/x-kmplot
Patterns=*.fkt

[Property::X-KDE-text]
Type=bool
Value=true
